:root {
  /* Colors */
  --color-accent: #10c9c3;
  --color-accent-hover: #0aa;
  --color-accent-active: #088;
  --color-black: #000;
  --color-grey-1: #222;
  --color-grey-2: #444;
  --color-grey-3: #888;
  --color-grey-4: #ccc;
  --color-grey-5: #eee;
  --color-white: #fff;
  /* Font size */
  --fz-xs: 12px;
  --fz-s: 16px;
  --fz-m: 18px;
  --fz-l: 24px;
  --fz-xl: 32px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", "sans-serif";
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
button {
  border: none;
}
::selection {
  background: var(--color-accent);
  color: var(--color-white);
}

.common_heading {
  font-size: var(--fz-xl);
  font-weight: 500;
  color: var(--color-grey-1);
  font-family: "Montserrat", "sans-serif";
  line-height: 1.5;
}

.common_text {
  font-size: var(--fz-s);
  font-weight: 400;
  font-family: "Nunito Sans", "sans-serif";
  color: var(--color-grey-1);
  line-height: 1.5;
}

.common_input {
  font-size: var(--fz-s);
  font-weight: 400;
  font-family: "Nunito Sans", "sans-serif";
  color: var(--color-grey-2);
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid var(--color-grey-4);
  padding: 8px 16px;
}

.container {
  width: 94%;
  border: 0px solid #000;
  margin: auto;
  height: 100%;
  max-width: 1600px;
}

.header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 99999;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.header_logo {
  height: 24px;
}

.header_logo > img {
  height: 100%;
}
#burger_check {
  display: none;
}

.burger {
  height: 18px;
  aspect-ratio: 4 / 3;
  position: relative;
  display: none;
  z-index: 999999999;
}

.line {
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: var(--color-grey-1);
  transition: 0.5s;
}

.top {
  top: 0;
}

.middle {
  top: 50%;
  translate: 0 -50%;
}

.bottom {
  bottom: 0;
}

#burger_check:checked ~ .burger > .top {
  top: 50%;
  translate: 0 -50%;
  rotate: 45deg;
}
#burger_check:checked ~ .burger > .bottom {
  top: 50%;
  translate: 0 -50%;
  rotate: -45deg;
}
#burger_check:checked ~ .burger > .middle {
  opacity: 0;
}


.header_navlist {
  display: flex;
  list-style: none;
  gap: 2em;
  align-items: center;
}

.header_link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--fz-xs);
  line-height: 1.5;
  color: var(--color-grey-1);
}

.header_link > a {
  color: inherit;
  text-decoration: none;
}

.header_active {
  color: var(--color-accent);
}

.hero {
  background: url("./img/main.jpg") no-repeat center center/ cover;
  height: 100vh;
}

.hero_wrap {
  display: flex;
  border: 0px solid #ff0000;
  height: 100%;
  justify-content: end;
  align-items: center;
}

.hero_block {
  width: 80%;
  border: 0px solid #000;
  max-width: 500px;

  display: flex;
  align-items: start;
  gap: 1em;
  flex-direction: column;
}

.hero_button {
  background: var(--color-accent);
  padding: 18px 48px;
  color: var(--color-white);
  font-size: var(--fz-xs);
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Montserrat", "sans-serif";
  border-radius: 4px;
  transition: 0.3s;
}
.hero_button:hover {
  background: var(--color-accent-hover);
  transition: 0.3s;
}
.hero_button:active {
  background: var(--color-accent-active);
  transition: 0.3s;
}

.about_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 80px 0;
}

.about_text {
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.about_img {
  width: 200px;
  height: 60px;
}

.about_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skills {
  border: 0px solid #000;
  background: url(./img/conv.jpg) no-repeat center center / cover;
}

.skills_wrap {
  padding: 100px 0;
}

.skills_left {
  width: 90%;

  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 500px;
}

.skills_block {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.skills_item {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.skills_text {
  display: flex;
  gap: 2em;
  letter-spacing: 1px;
}

.skills_title {
  font-size: var(--fz-xs);
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}

.skills_percent {
  font-size: var(--fz-xs);
  font-weight: 500;
  line-height: 1.5;
}

.skills_line {
  height: 3px;
  background: var(--color-grey-4);
}

.skills_level {
  background: var(--color-accent);
  height: 100%;
}

.skills_level:nth-child(1) {
  width: 75%;
}

.skills_level:nth-child(2) {
  width: 90%;
}

.skills_level:nth-child(3) {
  width: 65%;
}

#lvl_75 {
  width: 75%;
}

#lvl_90 {
  width: 90%;
}

#lvl_65 {
  width: 65%;
}

.stats {
  background: var(--color-accent);
}

.stats_wrap {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.stats_item {
  color: var(--color-white);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "icon num"
    "icon text";
  column-gap: 0.5em;
}

.stats_icon {
  grid-area: icon;
  font-size: 36px;
  aspect-ratio: 1/1;
  line-height: 1;
}

.stats_num {
  grid-area: num;
  font-size: var(--fz-m);
  font-weight: 500;
  line-height: 1;
}

.stats_text {
  grid-area: text;
  font-size: var(--fz-xs);
  font-weight: 500;
  line-height: 1;
}

.gallery_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  width: 100%;
}

.gallery_item {
  position: relative;
  aspect-ratio: 4/3;
}

.gallery_item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery_hover {
  background: #0008;
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  font-size: var(--fz-l);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  transition: 0.4s;
}

.gallery_hover:hover {
  opacity: 1;
  transition: 0.4s;
}

.gallery_button {
  width: 100%;
  border: 0px solid #000;
  padding: 18px;
  background: var(--color-grey-4);
  color: var(--color-grey-3);
  text-transform: uppercase;
  font-size: var(--fz-xs);
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
  transition: 0.4s;
}

.gallery_button:hover {
  background: var(--color-grey-3);
  color: var(--color-grey-2);
  transition: 0.4s;
}

.work_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;

  margin: auto;
  gap: 2em;
  text-align: center;
  max-width: 600px;
  padding: 80px 0;
}

.work_video {
  position: relative;
  box-shadow: 0 0 30px var(--color-grey-4);
}

.work_video > video {
  width: 100%;
}

.work_button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: var(--color-accent);
  font-size: var(--fz-xl);
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.work_button:hover {
  background: var(--color-accent-hover);
  transition: 0.3s;
}

.work_button > i {
  translate: 3px;
}

.apps {
  background: var(--color-grey-5);
  padding: 80px 0;
}

.apps_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
}

.apps_item {
  text-align: center;
  width: 70%;

  justify-self: center;
}

.apps_icon {
  font-size: var(--fz-xl);
  color: var(--color-grey-3);
}

.apps_title {
  font-size: var(--fz-xs);
  color: var(--color-black);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5;
}

.apps_text {
  font-size: var(--fz-s);
  color: var(--color-grey-3);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Nunito sans", sans-serif;
}

.reviews {
  background: var(--color-accent);
  color: var(--color-white);
}

.reviews_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 120px 0;
}

.reviews_btn {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  background: none;
  border: none;
  font-size: var(--fz-xl);
  color: var(--color-white);
}

.reviews_btn_right {
  right: 0;
}

.reviews_btn_left {
  left: 0;
}

.reviews_box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 500px;
  width: 80%;
}

.reviews_text {
  color: var(--color-white);
}

.reviews_pages {
  display: flex;
  position: absolute;
  justify-content: end;
  gap: 6px;
  bottom: 3em;
}

.reviews_line {
  width: 30px;
  height: 3px;
  background: var(--color-white);
  opacity: 0.5;
}

.reviews_active {
  opacity: 1;
}

.logos_wrap {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.logos_item {
  height: 50px;
}

.logos_item > img {
  height: 100%;
}

.project {
  background: var(--color-grey-5);
  padding: 80px 0;
}

.project_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2em;
}

.project_form {
  width: 90%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 4fr 1fr;
  grid-template-areas:
    "name email"
    "title title"
    "comment comment"
    "btn btn";
  gap: 2em;
}

.project_text {
  max-width: 500px;
}

.project_input_name {
  grid-area: name;
}

.project_input_emile {
  grid-area: email;
}

.project_input_title {
  grid-area: title;
}

.project_input_comment {
  grid-area: comment;
  resize: none;
}

.project_button {
  border-radius: 4px;
  font-family: "Nunito sans", sans-serif;
  font-weight: 400;
  background: var(--color-accent);
  font-size: var(--fz-s);
  border: none;
  color: var(--color-white);
  padding: 8px 48px;
  grid-area: button;
  transition: 0.3s;
  justify-self: center;
}
.project_button:hover {
  background: var(--color-accent-hover);
  transition: 0.3s;
}
.project_button:active {
  background: var(--color-accent-active);
  transition: 0.3s;
}
.footer {
  background: var(--color-black);
  color: var(--color-white);
  padding: 100px 0;
}
.footer_wrap {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.footer_wrap > * {
  flex-grow: 1;
}
.footer_info {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.footer_block {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.footer_company {
  color: var(--color-white);
  font-size: var(--fz-l);
}
.footer_text {
  color: var(--color-white);
}
.footer_social {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
  gap: 1em 3em;
  justify-self: end;
  flex-grow: 5;
}
.footer_item {
  color: var(--color-accent);
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .burger {
    display: block;
  }
  .header_nav {
    left: 100%;
    position: fixed;
    background: #0008;
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 100%;
    bottom: 0;
    right: 0;
    transition: 0.5s;

  }
  .header_navlist {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header_link {
    color: var(--color-white);
  }
  .header_active {
    color: var(--color-accent);
  }
  #burger_check:checked ~ .header_nav {
    left: 50%;
  }
  #burger_check:checked ~ .burger > .line{
    background: #fff;
  }
  .hero_block {
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .skills_left {
    margin: auto;
  }
  .stats_wrap {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    position: relative;
    left: 50%;
    translate: -50% 0;
  }
  .gallery_grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .apps_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .project_form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
    grid-template-areas:
      "name"
      "email"
      "title"
      "comment"
      "button";
  }
  .footer_wrap {
    flex-direction: column;
  }
  .footer_block {
    gap: 1em;
    flex-direction: row;
  }
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .burger {
    display: block;
  }
  .header_nav {
    display: none;
    position: fixed;
    background: #0008;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

  }
  .header_navlist {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header_link {
    color: var(--color-white);
  }
  .header_active {
    color: var(--color-accent);
  }
  #burger_check:checked ~ .header_nav {
    display: block;
  }
  #burger_check:checked ~ .burger > .line{
    background: #fff;
  }
  .hero_block {
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .skills_left {
    margin: auto;
  }
  .stats_wrap {
    display: inline-grid;
    grid-template-columns: 1fr;
    gap: 2em;
    position: relative;
    left: 50%;
    translate: -50% 0;
  }
  .gallery_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .apps_wrap {
    grid-template-columns: 250px;
    justify-content: center;
  }
  .project_form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
    grid-template-areas:
      "name"
      "email"
      "title"
      "comment"
      "button";
  }
  .project_button {
    justify-self: stretch;
  }
  .footer_wrap {
    flex-direction: column;
    text-align: center;
  }
}
